.container {
  height: 50px;
  background-color: #bb0505;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
}

.listItem {
  display: inline;
  margin-right: 30px;
  font-size: 14px;
  color: #fff;
  cursor: pointer;
}
